/*Navbar*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  width: 1518px;
  height: 60px;
  background-color: rgb(210, 210, 210);
  color: white;
  border: 1px solid rgb(205, 203, 203);
}

.imgLogo {
  position: relative;
  left: 150px;
  width: 150px;
  height: 25px;
}

.listePersonnalisation {
  list-style-type: none;
}
.menu-container img {
  position: fixed;
  /* Nécessaire pour le positionnement absolu des images */
}

.aPersonnalisation {
  position: relative;
  top: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
}

.aPersonnalisation:hover {
  font-weight: bold;
  color: black;
}

.iconPersonnalisation {
  position: relative;
  text-decoration: none;
  font-size: 19px;
  left: -100px;
  padding-left: 10px;
}

.menu-container {
  background-color: rgb(249, 249, 249);
}

/*Images console*/
.baseImage {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 10%;
}

.Overlay {
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 30%;
  left: 10%;
}

/*Panneau de configuration*/
.divConfig {
  width: 40%;
  position: relative;
  margin-top: 2%;
  left: 55%;
  padding-top: 30px;
}

.accordion {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 5px 5px 10px rgb(235, 233, 233);
  font-size: 10px;
}

.accordion-header {
  --bs-accordion-btn-bg: white;
  --bs-accordion-active-bg: rgb(68, 67, 67);
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: none;
}

p {
  font-size: 15px;
}

.boutons {
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 30px;
  border: 1px solid rgb(205, 203, 203);
  margin-bottom: 2px;
  height: 43px;
}

.boutons:hover {
  background-color: rgb(241, 239, 239);
  border: 1px solid rgb(205, 203, 203);
}

.boutons:focus {
  background-color: rgb(241, 239, 239);
  border: 1px solid rgb(205, 203, 203);
}

#boutonCouleurs {
  border: 1px solid rgb(241, 239, 239);
}

#boutonCouleurs:hover {
  border: 1px solid black;
}

/*Panneau total paiement*/
.divPaiement {
  width: 25%;
  height: 20%;
  position: relative;
  margin-top: 3%;
  left: 62.5%;
  box-shadow: 5px 5px 10px rgb(235, 233, 233);
  border: 1px solid rgb(235, 233, 233);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
}

#paiement {
  margin-left: 10%;
  margin-top: 5%;
}

#boutonPaiement {
  background-color: rgb(241, 239, 239);
  margin-left: 30%;
  margin-bottom: 5%;
}

#boutonPaiement:hover {
  background-color: rgb(102, 101, 101);
  color: white;
}

@media (max-width: 1400px) {
  body {
    width: auto;
  }
  .page {
    width: 100%;
  }
  .menu-container {
    width: 1400px;
    display: flex;
  }
  .menu-container img {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 200px;
  }
  .divConfig {
    width: 40px;
  }
}

@media (max-width: 768px) {
  .menu-container img {
    position: absolute;
    width: 400px;
  }
}

/*Footer*/
.footer {
  color: white;
  background-color: black;
  padding: 20px;
  margin-top: 50px;
}
