/*navbar*/
.navbar{
    width: 1537px;
    height: 80px;
    background-color: rgb(70, 69, 69);
    color: white;
}
.logo {
    position: relative;
    left: 60px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
    .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.baseImage {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 10%;
}
  
.Overlay {
    position: absolute;
    z-index: 2;
    opacity: 1;
    top: 30%;
    left: 10%;
}

.divConfig{
    width: 40%;
    position: relative;
    margin-top: 2%;
    left: 55%;
}

.accordion{
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 5px 5px 10px rgb(235, 233, 233);
    font-size: 10px;
}

.accordion-header{
    --bs-accordion-btn-bg: white;
    --bs-accordion-active-bg: rgba(142, 141, 141, 0.67);
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-box-shadow: none;
}

p{
    font-size: 15px;
}

.boutons{
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid rgb(205, 203, 203);
    margin-bottom: 2px;
    height: 43px;
}

.boutons:hover{
    background-color: rgb(241, 239, 239);
    border: 1px solid rgb(205, 203, 203);
}

#boutonCouleurs{
    border: 1px solid rgb(241, 239, 239);
}

#boutonCouleurs:hover{
    border: 1px solid black;
}

.divPaiement{
    width: 25%;
    height: 20%;
    position: relative;
    margin-top: 3%;
    left: 62.5%;
    box-shadow: 5px 5px 10px rgb(235, 233, 233);
    border: 1px solid rgb(235, 233, 233);
    border-radius: 5px;
}

#paiement{
    margin-left: 10%;
    margin-top: 5%;
}

#boutonPaiement{
    background-color: rgb(241, 239, 239);
    margin-left: 30%;
    margin-bottom: 5%;
}

#boutonPaiement:hover{
    background-color: rgb(102, 101, 101);
    color: white;
}