#divConfig{
    width: 800px;
    position: relative;
    left: 800px;
}

.accordion{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 5px 5px 10px rgb(235, 233, 233);
    font-size: 10px;
}

.accordion-header{
    --bs-accordion-btn-bg: white;
    --bs-accordion-active-bg: rgba(142, 141, 141, 0.67);
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-box-shadow: none;
}

p{
    font-size: 15px;
}

.boutons{
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid rgb(205, 203, 203);
    margin-bottom: 2px;
    height: 43px;
}

.boutons:hover{
    background-color: rgb(241, 239, 239);
    border: 1px solid rgb(205, 203, 203);
}

img:hover{
    border: 2px solid black;
    cursor: pointer;
}

#black:hover{
    border-color: blue;
}

#divPaiement{
    width: 400px;
    position: relative;
    left: 1000px;
    box-shadow: 5px 5px 10px rgb(235, 233, 233);
    border: 1px solid rgb(235, 233, 233);
    border-radius: 5px;
    padding: 20px;
}

#paiement{
    margin-left: 20px;
}

#boutonPaiement{
    border: 1px solid rgb(205, 203, 203);
    background-color: rgb(241, 239, 239);
    margin-left: 120px;
}

#boutonPaiement:hover{
    background-color: rgb(102, 101, 101);
    color: white;
}